
.about {
	background: $orange;
	color: $white;

	&__container {
		@extend .container;
		padding-bottom: rem(51);
		padding-top: rem(55);
	}

	&__header {
		display: initial;
		height: initial;
		margin-bottom: initial;
		max-height: initial;
		min-height: initial;
		text-align: center;
	}

	&__heading {
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: rem(46);

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(15), md);
	}

	&__col {
		@extend .col-lg-4;
		@include clear-content-margins();
	}
}
