
.business-area {
	@include clear-content-margins();
	@include business-area-icon(realty);
	@include business-area-icon(projects);
	@include business-area-icon(building);
	@include business-area-icon(renovation);
	@include business-area-icon(management);
	@include business-area-icon(financial);
	border: 3px solid $blue;
	height: 100%;
	padding: rem(100) rem(15) rem(21);
	position: relative;
	transition: all 0.15s ease;

	&:hover,
	&:focus {
		border-color: $orange;
	}
	
	&__icon {
		height: 176px;
	    left: 50%;
	    margin-left: (176px / -2);
	    position: absolute;
	    top: (176px / -2 - 1.5);
	    transition: all 0.15s ease;
	    width: 176px;

	    &::after {
	    	content: "";
	    	height: 0;
	    	overflow: hidden;
	    	position: absolute;
	    	width: 0;
	    }
	}

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}

	&__content {
		@include clear-content-margins();
		margin-bottom: rem(19);
		margin-left: auto;
		margin-right: auto;
		max-width: rem(160);
		text-align: center;
	}

	&__heading {
		font-size: rem(22);
		font-weight: 700;
		line-height: (22/22);
		margin-bottom: rem(23);
	}

	&__text {

	}

	&__heading-2 {
		color: $blue;
		font-size: rem(34);
		font-weight: 500;
		margin-bottom: 0;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.15s ease;
	}

	&:hover .business-area__heading-2,
	&:focus .business-area__heading-2 {
		color: $orange;
	}
}
