
.business-areas {
	margin-bottom: rem(64);
	margin-top: rem(64);
	
	&__container {
		@extend .container;
	}

	&__items {
		@extend .row;
		@extend .justify-content-center;
		margin-bottom: rem(-64);
	}

	&__item {
		@extend .col-sm-6;
		@extend .col-lg-4;
		margin-bottom: rem(64);
		padding-top: rem(84);
	}
}
