
.contact-form {
	margin-bottom: rem(64 - 27);
	margin-top: rem(47);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: rem(46);
		text-align: center;
	}

	&__heading {
		color: $blue;
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: 0;
		text-transform: uppercase;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__text-wrapper {
		margin-bottom: rem(39);
		text-align: center;
	}

	&__text {
		color: $blue;
	}

	&__form {

	}

	&__form-row {
		@extend .row;
		margin-bottom: rem(64);
	}

	&__form-group {
		@extend .col-md-4;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(64);

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--message {
			@extend .col-md-8;
		}
	}

	&__form-control {
		@extend .form-control;
	}

	textarea.contact-form__form-control {
		border-radius: 30px;
	}

	&__custom-select {

	}

	&__parking {
		margin-top: rem(64);
	}

	&__form-submit {
		text-align: right;

		@include media-breakpoint-down(sm) {
			text-align: left;
		}

		.ajax-loader {
			float: left;

			@include media-breakpoint-down(sm) {
				float: right;
			}
		}
	}

	&__button {
		@extend .btn;
		@extend .btn-primary;
		@include scale-effect();
		background: $primary !important;
		border-color: $primary !important;
		// margin-bottom: rem(27);
		// margin-right: rem(27);

		// &:last-child {
		// 	margin-right: 0;
		// }
	}
}
