
.content {
	margin-bottom: rem(64);
	margin-top: rem(54);
	
	&__container {
		@extend .container;
		@include clear-content-margins();
	}

	h1, .h1 {
		color: $blue;
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: rem(46);
		text-align: center;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}
}
