
.contact-option {
	@extend .media;
	align-items: flex-end;
	
	&__icon-wrapper {
		margin-right: rem(30);
		padding-bottom: rem(6);
		text-align: right;
		width: rem(65);
	}

	&__icon {

	}

	&__body {
		@extend .media-body;
	}

	&__heading {
		font-size: rem(22);
		font-weight: 700;
		margin-bottom: rem(12);
		text-transform: uppercase;
	}

	&__text {
		margin-bottom: 0;
	}
}
