
.contact-options {
	margin-bottom: rem(47);
	margin-top: rem(56);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: rem(48);
		text-align: center;
	}

	&__heading {
		color: $orange;
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: 0;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(30), md);
	}

	&__col {
		@extend .col-lg-4;
	}
}
