
.eyecatcher {
	background: $primary url("../images/eyecatcher/background.jpg") no-repeat center top;
    background-size: cover;
    color: $white;
	margin-top: calc(#{rem(-72) + rem(-101)} - 77px);

	@include media-breakpoint-down(lg) {
		margin-top: calc(#{rem(-50 * 0.7) + rem(-101 * 0.7)} - #{ceil(77px * 0.9)});
	}
	
	&__container {
		@extend .container;
		padding-bottom: rem(70);
		padding-top: rem(284);
	}

	&__heading {
		display: block;
		font-size: rem(30);
		font-weight: 300;
		line-height: (39/30);
		margin-bottom: rem(16);
		text-align: center;

		@include media-breakpoint-down(lg) {
			font-size: rem(30 * 0.75);
		}

		strong {
			font-size: rem(60);
			font-weight: 500;
			text-transform: uppercase;

			@include media-breakpoint-down(lg) {
				font-size: rem(60 * 0.75);
			}
		}
	}

	&__button-wrapper {
		text-align: center;
	}

	&__button {
		@extend .btn;
		@extend .btn-outline-light;
		@include scale-effect();
		border-radius: 0;
		font-size: rem(16);
		font-weight: 500;
		padding: rem(12) rem(16);
		text-transform: uppercase;
	}
}
