
.footer {
    background: $blue;
    color: $white;

    a {
        color: inherit;
    }

    &__container {
        @extend .container;
        padding-bottom: rem(25);
        padding-top: rem(25);
    }

    &__row {
        @extend .row;

        &--1 {
            margin-bottom: rem(10);

            @include media-breakpoint-down(lg) {
                margin-bottom: rem(20);
            }
        }

        &--2 {

        }
    }

    &__col {

        &--opening-hours {
            @extend .col-6;
            @extend .col-lg-3;
            @extend .order-3;
            @extend .order-lg-1;
        }

        &--contact-link {
            @extend .col-lg-4;
            @extend .order-1;
            @extend .order-lg-2;
        }

        &--social-links {
            @extend .col-lg-2;
            @extend .order-2;
            @extend .order-lg-3;
        }

        &--partner-logo {
            @extend .col-6;
            @extend .col-lg-3;
            @extend .order-4;
            @extend .order-lg-4;
        }

        &--links {
            @extend .col-md-6;
        }

        &--copyright {
            @extend .col-md-6;
        }
    }

    &__opening-hours {
        padding-top: rem(3);
    }

    &__opening-hours-heading {
        font-weight: 700;
        margin-bottom: rem(8);
        text-transform: uppercase;
    }

    &__opening-hours-table {

        th,
        td {
            line-height: (18/14);
            padding: 0;
        }

        th {
            font-weight: 700;
            padding-right: rem(2);
        }

        td {

        }
    }

    &__contact-link-wrapper {
        left: rem(8);
        position: relative;
        text-align: center;
        top: rem(33);

        @include media-breakpoint-down(lg) {
            left: rem(-2);
            margin-bottom: rem(20);
            margin-top: 0;
            top: 0;
        }
    }

    &__contact-link {
        @include scale-effect();
        background: $orange;
        color: $white;
        display: inline-block;
        font-size: rem(22);
        font-weight: 700;
        padding: rem(3) rem(13);
        position: relative;
        text-transform: uppercase;

        &::after {
            @include img-retina("../images/footer/arrow.png", "../images/footer/arrow@2x.png", 34px, 34px);
            bottom: -25px;
            content: "";
            display: inline-block;
            height: 34px;
            position: absolute;
            right: -26px;
            width: 34px;
        }

        &:hover,
        &:focus {
            color: $white;
            text-decoration: none;
        }
    }

    &__social-links {
        margin-bottom: rem(-9);
        margin-top: rem(-9);
        position: relative;
        right: rem(14);
        text-align: center;
        top: rem(33);

        @include media-breakpoint-down(lg) {
            margin-bottom: rem(10);
            right: 0;
            top: 0;
        }

        > ul {
            @include reset-list();

            > li {
                display: inline-block;
                margin-bottom: rem(-3);
                margin-left: rem(-3);

                > a {
                    @include scale-effect();
                    display: inline-block;
                    height: 43px;
                    margin: rem(9);
                    overflow: hidden;
                    text-indent: 999em;
                    width: 43px;
                }

                &.facebook > a {
                    @include img-retina("../images/social-icons/facebook.png", "../images/social-icons/facebook@2x.png", 43px, 43px);
                }

                &.instagram > a {
                    @include img-retina("../images/social-icons/instagram.png", "../images/social-icons/instagram@2x.png", 43px, 43px);
                }
            }
        }
    }

    &__partner-logo-wrapper {

    }

    &__partner-logo {
        @include img-retina("../images/footer/ivd.png", "../images/footer/ivd@2x.png", 146px, 67px);
        display: block;
        height: 67px;
        margin-left: auto;
        text-indent: -999em;
        width: 146px;
    }

    &__links {

        > ul {
            @include reset-list();

            > li {
                display: inline-block;

                &::after {
                    content: " |";
                }

                &:last-child {

                    &::after {
                        content: "";
                    }
                }
            }
        }
    }

    &__copyright {
        text-align: right;

        @include media-breakpoint-down(sm) {
            text-align: left;
        }
    }
}
