
.header {
    background: $primary url("../images/header/background.jpg") no-repeat center top;
    background-size: cover;
    color: $white;

    &__container {
        @extend .container;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(101);
        padding-top: rem(72);

        @include media-breakpoint-down(lg) {
            padding-bottom: rem(101 * 0.7);
            padding-top: rem(50 * 0.7);
        }
    }

    &__logo {
        flex-shrink: 0;

        @include media-breakpoint-down(lg) {
            background-size: ceil(255px * 0.9) ceil(77px * 0.9) !important;
            height: ceil(77px * 0.9) !important;
            width: ceil(255px * 0.9) !important;
        }
    }

    &__main-menu {
        margin-right: rem(-10);
    }
}
