
.history {
	margin-bottom: rem(64);
	margin-top: rem(64);
	
	&__container {
		@extend .container;
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(27), sm);
		margin-bottom: rem(63);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__col {

		&--1 {
			@extend .col-md-5;
		}

		&--2 {
			@extend .col-md-7;
		}
	}

	&__image-wrapper {

	}

	&__image {
		height: auto;
		width: 100%;
	}

	&__heading {
		font-size: rem(22);
		font-weight: 700;
		line-height: (22/22);
		margin-bottom: rem(20);
	}

	&__text-wrapper {
		@include clear-content-margins();
	}
}
