
.images {
	margin-bottom: rem(65);
	margin-top: rem(43);
	
	&__container {
		@extend .container;
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(15), sm);
	}

	&__col {
		@extend .col-md-6;
	}

	&__image-wrapper {

	}

	&__image {
		height: auto;
		width: 100%;
	}
}
