
.main-menu {
    display: block;

    @include media-breakpoint-down(lg) {
        display: none;
    }
    
    > ul {
        @include reset-list();

        > li {
            display: inline-block;
            margin-right: rem(-3);
            position: relative;
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }

            > a {
                color: inherit;
                display: inline-block;
                padding: rem(5) rem(10);
                transition: all 0.3s ease;
            }

            &:hover > a,
            &:focus > a,
            &.current-menu-item > a,
            > a:hover,
            > a:focus {
                background: $orange;
                text-decoration: none;
            }

            > ul {
                @include reset-list();
                background: rgba(255, 255, 255, 0.85);
                font-size: rem(12);
                left: 0;
                opacity: 0;
                padding: rem(13) rem(10);
                position: absolute;
                top: 100%;
                transition: all 0.3s ease;
                visibility: hidden;

                > li {

                    > a {
                        color: $body-color;
                        display: block;
                        padding-bottom: rem(1);
                        padding-right: rem(36);
                        padding-top: rem(1);

                        &:hover,
                        &:focus {
                            color: $orange;
                            text-decoration: none;
                        }
                    }
                }
            }

            &:hover,
            &:focus {

                > ul {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
