
.map {
	margin-bottom: rem(56);
	margin-top: rem(64);
	
	&__container {
		@extend .container;
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(15), sm);
	}

	&__col {
		@extend .col-md-6;
	}

	&__map,
	&__image {

	}

	&__map-wrapper,
	&__map {
		height: 100%;
		min-height: rem(330);
		width: 100%;
	}

	&__map-wrapper {

	}

	&__map {

	}

	&__image-wrapper {

	}

	&__image {
		height: auto;
		width: 100%;
	}
}
