
.mobile-menu {
    background: transparentize($primary, 0.02);
    color: $white;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: $zindex-fixed;

    @include media-breakpoint-down(lg) {
        display: block;
    }

    body.admin-bar & {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }

    &__close {
        @extend .btn;
        @extend .btn-link;
        @include scale-effect();
        // background: $primary !important;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-size: rem(14);
        margin-bottom: 0;
        padding: rem(5) rem(10);
        text-transform: none;

        &:hover,
        &:focus {
            color: $white;
            text-decoration: none;
        }

        // Active
        & {
            position: fixed;
            right: rem(15);
            top: rem(15);
            z-index: $zindex-fixed + 1;
        }
    }

    &__close-icon {
        background: #fff;
        display: inline-block;
        height: 3px;
        position: relative;
        top: -4px;
        transition-delay: 0.2s;
        transition-duration: 0s;
        width: 16px;

        &::before,
        &::after {
            background-color: #fff;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s;
            width: 16px;
        }

        &::before {
            margin-top: -6px;
        }

        &::after {
            margin-top: 6px;
        }

        // Active
        & {
            background: transparent;

            &::before,
            &::after {
                margin-top: 0px;
                transition: margin 0.2s ease 0s, transform 0.2s ease 0.2s;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    > ul {
        @include reset-list();
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
        padding: rem(15);
        text-align: center;

        > li {

            > a {
                color: inherit;
                display: block;
                padding-bottom: 10px;
                padding-top: 10px;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.mobile-menu-checkbox:checked ~ .mobile-menu {
    transform: translate(0, 0);
}
