
.mobile-menu-button {
    @extend .btn;
    @extend .btn-secondary;
    @include scale-effect();
    background: $secondary !important;
    border-color: $secondary !important;
    border-radius: 0;
    cursor: pointer;
    display: none;
    flex-shrink: 0;
    font-size: rem(14);
    margin-bottom: 0;
    padding: rem(5) rem(10);
    text-transform: none;

    @include media-breakpoint-down(lg) {
        display: block;
    }

    &__hamburger {
        background-color: #fff;
        display: inline-block;
        height: 3px;
        margin-right: 3px;
        position: relative;
        top: -4px;
        transition-delay: 0.2s;
        transition-duration: 0s;
        width: 16px;

        &::before,
        &::after {
            background-color: #fff;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s;
            width: 16px;
        }

        &::before {
            margin-top: -6px;
        }

        &::after {
            margin-top: 6px;
        }
    }
}
