
.person {
	
	&__row {
		@extend .row;
	}

	&__col {
		@extend .col-6;
	}

	&__image-wrapper {

	}

	&__image {
		border: 3px solid $orange;
		height: auto;
		width: 100%;
	}

	&__heading {
		font-size: rem(22);
		font-weight: 700;
		line-height: (22/22);
		margin-bottom: rem(14);
	}

	&__text-wrapper {
		@include clear-content-margins();
	}
}
