
.philosophy {
	background: $blue url("../images/philosophy/background.jpg") no-repeat center top;
    background-size: cover;
    color: $white;

    &--orange {
    	background-color: $orange;
    	background-image: url("../images/philosophy/background-orange.jpg");
    }

	.carousel-caption {
		bottom: initial;
		color: inherit;
		left: initial;
		padding-bottom: 0;
		padding-top: 0;
		position: static;
		right: initial;
		text-align: center;
		z-index: initial;
	}

	.carousel-control-prev,
	.carousel-control-next {
		@include scale-effect();
		min-width: 65px;
		opacity: 1 !important;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {

	}

	.carousel-control-prev-icon {
		@include img-retina("../images/philosophy/arrow-left.png", "../images/philosophy/arrow-left@2x.png", 65px, 65px);
	    height: 65px;
	    width: 65px;
	}

	.carousel-control-next-icon {
		@include img-retina("../images/philosophy/arrow-right.png", "../images/philosophy/arrow-right@2x.png", 65px, 65px);
	    height: 65px;
	    width: 65px;
	}

	&__container {
		@extend .container;
		padding-bottom: rem(102);
		padding-top: rem(56);
	}

	&__header-row {
		@extend .row;
		@extend .justify-content-center;
	}

	&__header-col {
		@extend .col-md-10;
	}

	&__heading {
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: rem(39);

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__content-row {
		@extend .row;
		@extend .justify-content-center;
	}

	&__content-col {
		@extend .col-9;
		@extend .col-md-6;
	}

	&__content {
		@include clear-content-margins();
		font-size: rem(16);
		font-style: italic;
		font-weight: 500;
		line-height: (22/16);
	}
}
