
.property {
	
	&__row {
		@extend .row;
		@include col-spacing(rem(35), sm);
	}

	&__col {
		@extend .col-md-6;
	}

	&__image-wrapper {

	}

	&__image {
		height: auto;
		width: 100%;
	}

	&__heading {
		font-size: rem(22);
		line-height: (22/22);
		margin-bottom: rem(14);
		margin-top: rem(-2);
	}

	&__text {
		margin-bottom: rem(21);
	}

	&__link-wrapper {

	}

	&__link {
		color: $blue;
		font-size: rem(22);
		font-weight: 700;
		text-transform: uppercase;
	}
}
