
.properties {
	margin-bottom: rem(55);
	margin-top: rem(46);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: rem(43);
		text-align: center;
	}

	&__heading {
		color: $blue;
		font-size: rem(48);
		font-weight: 500;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__items {
		@extend .row;
		margin-bottom: rem(-63);
	}

	&__item {
		@extend .col-lg-6;
		margin-bottom: rem(63);
	}
}
