
.quick-contact {
	margin-bottom: rem(64);
	margin-top: rem(55);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: rem(52);
		text-align: center;
	}

	&__heading {
		color: $blue;
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: 0;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(64), md);
	}

	&__col {

		&--1 {
			@extend .col-lg-9;
		}

		&--2 {
			@extend .col-lg-3;
		}
	}

	&__item-row {
		@extend .row;
		@include col-spacing(rem(50), sm);
	}

	&__item-col {
		@extend .col-md-4;
	}

	&__item-image {
		display: block;
		height: auto;
		margin-bottom: rem(50);
		width: 100%;
	}

	&__item-heading {
		font-size: rem(22);
		font-weight: 700;
		line-height: (22/22);
		margin-bottom: rem(12);
	}

	&__item-text {
		margin-bottom: 0;
	}

	&__links {
		margin-left: auto;
		margin-top: rem(102);
		width: 214px;

		@include media-breakpoint-down(lg) {
			margin-right: auto;
			margin-top: 0;
		}
	}

	&__options {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(50);
	}

	&__option {
		@include scale-effect();
	    display: inline-block;
	    text-indent: -999em;

		&--contact {
			@include img-retina("../images/quick-contact/icon-contact.png", "../images/quick-contact/icon-contact@2x.png", 88px, 88px);
		    height: 88px;
		    width: 88px;
		}

		&--phone {
			@include img-retina("../images/quick-contact/icon-phone.png", "../images/quick-contact/icon-phone@2x.png", 88px, 88px);
		    height: 88px;
		    width: 88px;
		}
	}

	&__consulting-wrapper {

	}

	&__consulting {
		@include scale-effect();
		@include img-retina("../images/quick-contact/consulting-background.png", "../images/quick-contact/consulting-background@2x.png", 214px, 214px);
	    color: $white !important;
	    display: inline-block;
	    font-size: rem(20);
	    font-weight: 700;
	    height: 214px;
	    padding-left: rem(40);
	    padding-right: rem(40);
	    padding-top: rem(50);
	    text-align: center;
	    text-decoration: none !important;
	    text-transform: uppercase;
	    width: 214px;
	}
}
