
.services {
	margin-bottom: rem(43);
	margin-top: rem(43);

	&__container {
		@extend .container;
	}

	&__row {
		@extend .row;
		@include col-spacing(rem(15), sm);
	}

	&__col {
		@extend .col-md-6;
	}

	&__image-wrapper {
		margin-bottom: rem(12);
		text-align: center;
	}

	&__image {

	}

	&__text {
		color: $blue;
		font-size: rem(48);
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}

		&--orange {
			color: $orange;
		}
	}
}
