
.team {
	margin-bottom: rem(66);
	margin-top: rem(56);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: rem(54);
		text-align: center;
	}

	&__heading {
		color: $orange;
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: 0;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}
	}

	&__items {
		@extend .row;
		margin-bottom: rem(-67);
	}

	&__item {
		@extend .col-md-6;
		margin-bottom: rem(67);
	}
}
