
.text {
	margin-bottom: rem(56);
	margin-top: rem(54);
	
	&__container {
		@extend .container;
	}

	&__header {
		margin-bottom: rem(46);
		text-align: center;
	}

	&__heading {
		color: $blue;
		font-size: rem(48);
		font-weight: 500;
		margin-bottom: 0;

		@include media-breakpoint-down(lg) {
			font-size: rem(48 * 0.75);
		}

		&--orange {
			color: $orange;
		}
	}

	&__content {
		@include clear-content-margins();
		color: $blue;
		text-align: center;
	}
}
