
@mixin business-area-icon($name, $width: 176px, $height: 176px) {

	&__icon--#{$name} {
		@include img-retina("../images/business-areas/#{$name}.png", "../images/business-areas/#{$name}@2x.png", $width, $height);
	}

	&__icon--#{$name}::after,
	&:hover .business-area__icon--#{$name},
	&:focus .business-area__icon--#{$name} {
		@include img-retina("../images/business-areas/#{$name}-hover.png", "../images/business-areas/#{$name}-hover@2x.png", $width, $height);
	}
}
