
@mixin col-spacing($spacing: $spacer, $breakpoint: lg) {

    > [class*=col] {
        @include media-breakpoint-down($breakpoint) {
            margin-bottom: $spacing;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
