
* {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: $blue;
    color: $white;
}

html {
    font-size: 87.5%;
}

body {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    overflow-x: hidden;
}
