
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: 0 !important;
}

a {
    transition: all 0.15s ease;
}

ol,
ul,
dl {
    margin-bottom: $paragraph-margin-bottom;
}

img {
	@include img-fluid();
}

.btn {
	text-transform: uppercase;
}

.clear-content-margins {
    @include clear-content-margins();
}

span.wpcf7-not-valid-tip {
	padding: ($input-padding-y - rem(2)) $input-padding-x;
	position: absolute;
	white-space: nowrap;
}

div.wpcf7-response-output {
	border-radius: $input-border-radius;
	margin: rem(47) 0 rem(47 + 27);
	padding: $input-padding-y $input-padding-x;
}
