
$enable-deprecation-messages: false;

$white: #fff;
$black: #000;
$blue: #1A1D56;
$orange: #EF7D00;

$primary: $blue;
$secondary: $orange;

$body-bg: $white;
$body-color: #575756;

$font-family-sans-serif: "Roboto", sans-serif;
$line-height-base: (22/14);

$paragraph-margin-bottom: (19/14 * 1rem);

$btn-padding-y: (20/14 * 1rem);
$btn-padding-x: (60/14 * 1rem);
$btn-font-size: (20/14 * 1rem);
$btn-border-radius: 8px;

$input-padding-y: (23/14 * 1rem);
$input-padding-x: (28/14 * 1rem);
$input-border-color: #616160;
$input-border-radius: 10px;
$input-placeholder-color: #878787;

$custom-select-border-radius: $input-border-radius;
