
// Variables
@import "variables";

// Fonts
@import "fonts";

body#tinymce.wp-editor {
    // Libraries
    @import "libraries";

    // Body
    font-family: $font-family-base;
    @include font-size($font-size-base);
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    background-color: $body-bg;

    // Functions
    @import "functions";

    // Mixins
    @import "mixins";

    // Typography
    @import "type";

    // Blocks
    @import "blocks";
}
